<div class="modal fade" 
    id="addNoteModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Note to Artcile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="buyBTCForm">
                    <div class="form-group">
                        <label for="btcPurchaseAmt">Amount to be Purchased</label>
                        <input type="email" class="form-control" id="btcPurchaseAmt" placeholder="0">
                    </div>
                </form>
                <button type="submit" class="btn btn-info confirmAddNote thisNote" id="articleId">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBuyBTC">Close</button>
            </div>
            <div class="modal-footer">
               <div id="otherNotes"></div>
            </div>
        </div>
    </div>
</div>

