<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<title>News Cheerio!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/test.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>