<h2 class="text-warning">All Saved Articles</h2>

<div class="container">

    <div id="savedArticles">
        <div>
            {{#each dbArticle}}
                <div class="card my-4 p-4 float" style="width: 40rem;">
                    <div class="card-header">
                        <h3>{{title}} </h3>
                        <button class="btn btn-info float-right">Save Article</button> 
                    </div> 
                    <div class="card-body">
                        <a class="text-info mx-auto" rel="noopener noreferrer" target="_blank" href="{{link}}">{{link}}</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>


</div>