{{!-- WELCOME PAGE --}}
<h2 class="text-success my-5">
    {{msg}}
</h2>

<div class="container-fluid text-center">
    
{{!-- Dynamic Cards from Cheerio Scape - ONCLICK SCRAPE BUTTON --}}
<div id="newArticles" class="articlesBackground"></div>

</div>